.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f1f1f1;
	padding: 5px;
	text-align: center;
	color: black;
	gap: 1rem;
	flex-wrap: nowrap;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding: 10px 16px;
	position: sticky;
	text-align: center;
	font-size: 1.0em;
	top: 0;
	z-index: 1000;
	height: 35px;
}

.main-header ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 0.5rem;
	line-height: 2em;
}

.main-header li {
	white-space: nowrap;
}

.main-header li a {
	color: black;
	margin: 0 10px;
	text-decoration: none;
}

.main-header li a:hover {
	font-weight: bold;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}