body{
	font-family: "Arial";
	color: #1a1a1a;
}
.body-page{
	overflow: hidden auto;
}
#titles{
	margin:auto;
	width:75%;
}
.h1{
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
}
.chapeau{
	font-size: 16pt;
	text-align: center;
	clear:both;
}
#columns{
	margin:auto;
	padding: 5%;
	width: 75%;
	display:grid;
	grid-template-columns: auto auto;
}
.inner-column{
	padding: 5%;
	width: 450px;
	height: 400px;
	margin: auto;
	box-shadow: 1px 1px 10px 1px lightgrey;
}
.inner-column:hover{
	box-shadow: 1px 1px 20px 1px lightgrey;
}
ul{
	list-style-type: none;
	line-height: 2;
}
ul.products{
	text-decoration: underline 2px;
	text-decoration-color: #76B900;
	text-underline-offset: 4px;
	font-size: 11pt;
}

.columns-footer{
	font-weight: bold;
	font-size: 14pt;
}

.link-column-footer{
	text-decoration: none;
	color: black;
}
span .arrow{
	color: #76B900;
}

#form-lang{
	float:right;
	display:inline;
	text-align: right;
	position:relative;

}
#form-lang select{
	background-color: #ffffff;
	padding: 10px;
	border-color: lightgrey;
	border-style: solid;
	border-width: thin;
	bottom:0px;
	font-size: 11pt;
	/*color: #5a5a5a;*/
	font-weight: lighter;
	width: 125px;
}

#form-lang select:focus{
	border-color: #76B900;
}

