        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        #result {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        #img_game img{
            max-height: 350px;
        }

        .end_game_win {
            background-color: green;
            margin: auto;
            height: 100px;
            width: 600px;
        }

        .end_game_lose{
            background-color: red;
            margin: auto;
            height: 100px;  
            width: 600px;
        }