body{
    background-color:black;
    color: aliceblue;
    font-family: NVIDIA-EMEA, Arial, Helvetica, Sans-Serif;;
}

h2,h1,.liens_rapides.div,a{
  display: grid;
  place-items: center;
  color: aliceblue;
  font-size: 36px;

}
.liens_rapides.div{
    width: 426px;
    height: 250px;
    padding: 15px, 0px ;
}

.img_link {
    padding: 15px;
}

p{
font-size: 15px;
text-align: center;
padding: 10px;
padding-bottom: 50px;

}
.green_title, .section li {
    color: #76B900;
}


.liens_rapides {
display: flex;
margin-left: 200px;
margin-right: 200px;
border-bottom: 1px rgb(182, 176, 176) solid;

}

.assistance_geforce {
    margin-bottom: 150px;
}

/* INFO BOTTOM */

.info_bottom {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    

}
.section {
    width: 426px;
    margin-right: 20px;
}
.section li {
    list-style-type: none;
    padding: 5px;
    margin-left: -40px;

}
.section_title {
    border-bottom: #acadab solid 1px;
}
.section a {
    border-radius: 25px;
    background-color: #76B900;
    
}

/* FOLLOW GEFORCE */

.follow_geforce {
color: #acadab;
display: flex;
margin-left: 60%;
width: fit-content;
height: fit-content;
font-size:33px;
}

.follow_geforce h4 {
    font-size:20px;
    width: fit-content;
    margin: auto;
    margin-right: 30px;
}

.follow_geforce a {
    
    color: #acadab;
    padding-right: 7px;
    text-decoration: none;
}

.follow_geforce a:hover {
    color: aliceblue;
    padding-right: 7px;
    text-decoration: none;

}