#content{
    max-height: 500px;
}
.left{
    float: left;
    padding: 10px;
    position:absolute;
    /* width: 150px; */
    /* left:250px; */
    /* z-index: 1; */
}
.right{
    float: right;
    margin: auto;
    position: absolute;
    /* top: 200px; */
    /* width: 500px; */
    right:20px;
    /* z-index : 2; */
}
.clear{
    float: left;
    margin: 20px;
    /* width: 200px; */
    position:absolute;
    top: 300px;
    left: 30px;
    /* z-index: 3; */
}