body{
    background-color:black;
    color: aliceblue;
    font-family: NVIDIA-EMEA, Arial, Helvetica, Sans-Serif;;
}

h2,h1,.liens_rapides.div,a{
  display: grid;
  place-items: center;
  color: aliceblue;
  font-size: 36px;

}
.liens_rapides.div{
    width: 426px;
    height: 250px;
    padding: 15px, 0px ;
}

.img_link {
    padding: 15px;
}

p{
font-size: 15px;
text-align: center;
padding: 10px;
padding-bottom: 50px;

}
.green_title, .info_bottom.section.ul.li {
    color: #76B900;
}


.liens_rapides {
display: flex;
margin-left: 200px;
margin-right: 200px;
border-bottom: 1px rgb(182, 176, 176) solid;

}

.assistance_geforce {
    margin-bottom: 150px;
}

/* INFO BOTTOM */

.info_bottom {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    

}
.section {
    width: 426px;
    background-color: rgb(96, 102, 107);
    margin-right: 20px;
}
.section.h3 {
    border-bottom: #76B900 solid 1px;
}